@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




*,
*::before,
*::after {
    margin:0 ;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    text-decoration:none;
}
a {
    color:white;
}
button {
    color:black;
}
header {
    background-color:black;
    color:white;
    position:fixed;
    width:100vw;
}
.header_top-bar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-inline: 6rem;
}
.header_top-bar img {
    width:2rem;
}
.guernsey-flag-container {
    display:flex;
    align-items:center;
    gap:1rem;
    font-size:0.8rem;
    font-weight:200;
}
.opening-times-container {
    display:flex;
    align-items: center;
    gap:1.5rem;
    font-size:0.8rem;
    font-weight:200;
}



nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-inline:6rem;
    z-index:2;
}
header {
    z-index:2;
}
.logo-section img {
    width:12rem;
}
.nav-links ul {
    display:flex;
    list-style:none;
    align-items: center;
    gap:4rem;
    font-size:0.9rem;
    font-weight:600;
}
.nav-links button {
    padding:0rem 1rem;
    font-weight:700;
    background-color:white;
    border:3px solid white;
    transition:0.5s;
    
}
.burger {
    display:none;
}
nav ul li:nth-child(1)::before {
    content:"";
    width: 0px;
    height:2px;
    background-color:white;
    position:absolute;
    top:75%;
    transition:0.5s;
}
nav ul li:nth-child(1):hover::before {
    width:50px;
}
nav ul li:nth-child(2)::before {
    content:"";
    width: 0px;
    height:2px;
    background-color:white;
    position:absolute;
    top:75%;
    transition:0.5s;
}
nav ul li:nth-child(2):hover::before {
    width:70px;
}
nav ul li:nth-child(3)::before {
    content:"";
    width: 0px;
    height:2px;
    background-color:white;
    position:absolute;
    top:75%;
    transition:0.5s;
}
nav ul li:nth-child(3):hover::before {
    width:50px;
}

.title-text ~ .title-buttons > button {
    width:max(7rem, 10vw);
    font-size:max(1.25vw, 1rem)
}

/** Nav Media Queries
********************/

@media (max-width:884px) {
    .nav-links {
        display:none;
    }
    nav {
        padding-inline:2.5rem;
    }
    .burger {
        display:block;
    }
}

@media (max-width:840px) {
    .opening-times-container p {
        display:none;
    }
    .display {
        display:block !important;
    }
   
}
@media (max-width:422px) {
    .header_top-bar {
        padding-inline:1rem;
    }
}
@media (max-width:333px) {
    .logo-section img {
        width:8rem;
    }
    nav {
        justify-content:center;
        align-items:center;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
    .burger {
        padding-inline:1.5rem;  
          
    }
}


/**********************
***********Products***/

.first-section {
    width:100vw;
    height:max-content;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#0d0d0d;
}
.hero-section-products {
    width:100vw;
    height:60vh;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-top:5rem;
    z-index:0;
}
.title-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;
    /* padding-left:2rem; */
}
.title-text {
    gap:0rem;
    
}
.title-text p {
    font-size:max(1rem, 1.4vw) ;
    font-weight:200;
}
.title-container h1 {
    font-size:4rem;
    font-weight:700;
    text-align:center;
    /* padding-inline:0.5rem; */
}
.title-container p {
    font-size:1rem;
    font-size:max(1.15rem, 1.25vw) !important;
    font-weight:300;
    padding-inline:1rem;
    text-align:center;

}
.title-container button {
    padding-block:0.4rem;
    width:10rem;
    font-size:1.15rem;
    background-color:white;
    color:black;
    border:3px solid white;
    transition:0.5s;
    font-weight:500;
    padding-inline:0;
}
.title-container button:nth-child(1) {
    font-weight:700;
    
}

/* .title-container {
    padding:0;
}


/**** Media Queries for hero
***************************/
@media (max-width:884px) {
    .hero-section-products {
        /* padding-right:0rem; */
        /* padding-inline:1rem; */
        justify-content:center;
        align-items: center;
    }
    .title-text,
    .title-container {
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction:column;
    }
    .title-text h1 {
        font-size:3rem !important;
    }
    .title-text p {
        font-size:0.9rem !important;
    }
}
@media (max-width:615px) {
    .title-container button {
        word-wrap: nowrap;
        width:max-content;
        font-size:1rem;
        text-align:center;
        padding-inline:1.75rem;
    }
    
    .hero-section,
    .hero-section-products {
       
        background-repeat: no-repeat;
        
    }
    .title-text h1 {
        font-size:2.5rem !important;
    }
    
}
@media (max-width:511px) {
    .title-text h1 {
        font-size:2rem !important;
    }
    .title-container button {
        width:6rem !important;
        font-size:0.75rem !important;
        padding-block:0.25rem !important;
        height:2rem !important;
        

    }
}
@media (max-width:455px) {
    .title-container h1 {
        font-size:1.75rem !important;
    }
    .title-text p {
        font-size:0.75rem !important
    }
}

.title-container button:nth-child(2) {
    background-color:black;
    color:white;
}
.title-container button:nth-child(2):hover {
    background-color:white;
    color:black;
}

    
nav a {
    color:white;
    text-decoration:none;
}

.title-container button:hover,
nav button:hover {
    transition:0.5s;
    cursor:pointer;
    background-color:black;
    color:white;
    
}
.title-buttons {
    display:flex;
    gap:1.5rem;
}
nav ul:hover,
nav button {
    cursor:pointer;
}

nav ul li::before {
    content:"";
    width: 0px;
    height:2px;
    background-color:white;
    position:absolute;
    top:75%;
    transition:0.5s;
}
nav ul li:hover::before {
    width:70px;
}
.hero-section-products {
    background-image: url(./tinified/hero-redo.png);
} 

.contactButton a {
    text-decoration:none;
    color:black;
}

/*********/

.hero-section-products h1 {
    font-size:4rem;
}

@media (max-width:800px) {
    .hero-section-products {
        justify-content: center;
        padding:0;
        
        
    }
    .hero-section-products h1 {
        font-size:max(2.25rem, 4vw);
    }
    .hero-section-products .title-container {
        gap:1rem;
    }
    .title-text ~ .title-buttons button {
        font-size:0.8rem;
        padding-inline:0;
        height:2.4rem;
        
    }
    .title-text ~ .title-buttons {
        gap:0.5rem;
    }
}
@media (max-width:508px) {
    .hero-section-products h1 {
        font-size:2rem;
    }
    
}
.hero-section-products .title-container {
    overflow:visible;
    z-index:5;
    width:max-content;
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
.hero-section-products {
    margin-inline:0;
}



.hero-section-products .title-container .title-text p {
    text-align:center;
    width:100%;
    
    
}

.hero-section-products .title-text {
    width:max-content;
    overflow:visible;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-section-products p {
    font-size: 1.5rem;
    width:100%;
}
.hero-section-products h1 {
    width:max-content;
    /* font-size:5rem; */
}
.hero-section-products .title-buttons {
    width:max-content;
}
@media (max-width:353px) {
    .title-text h1 {
        width:100%;
    }
    .title-text {
        width:80% !important;
    }
}

/****************************************/
.product-cards {
    overflow:visible;
    padding-top:5rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    max-height:150rem;
    gap:0rem;
    width:100vw !important;
}
.best-seller-card-title {
    position:relative;
    overflow:visible;
    height:22rem;
    width:max-content !important;
    display:flex;
    justify-content: center;
    align-items:flex-end;
    padding-bottom:5rem;
    margin-bottom:6rem;
    align-self:center !important;
}
.pencil {
    position:absolute;
    left:-50%;
    top:5%;
    
}
.best-seller-title {
    font-size:2.5rem;
    align-self:flex-end;
    position:relative;
}
.product-card-grid {
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:1rem;
    place-items:end;
    overflow:visible;
    margin-bottom:10rem;
    /* width:55%; */
}
.best-seller-card {
    background-color:#F5F7FB;
    width:max-content;
    width:30rem;
    height:20rem;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    padding:2rem;
    overflow:visible;
    position:relative;
    

}
.best-seller-card-title {
    align-self:flex-start;
    width:100%;
}
.best-seller-card h3 {
    font-size:1.5rem;
    width:70%;
}
.product-names {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: center;
    gap:1rem;
    overflow:visible;

}
.product-first {
    right:0% !important;
    width:200px;
    position:absolute;
}

.product-fourth {
    width:125px ;
    position:absolute;
    right:5%;
   
}

.product-second {
    width:250px;
    position:absolute;
    right:1%;
}
.product-third {
    width:300px;
    right:-0% !important;
    position:absolute;
    
}
.best-seller-card button {
    padding:0.5rem 1.5rem;
    font-size:1rem;
    font-weight:bold;
    border-radius:0.75rem;
    border:1px solid black;
    background-color:#F5F7FB;
    transition:0.5s;
    
}
.best-seller-card button:hover {
    background-color:#1c1c1c;
    color:white;
    transition:0.5s;
    cursor:pointer;
}
.product-paragraph {
    width:80%;
    align-self:flex-start;
    padding-left:14.5rem;
    line-height:2.5;
    margin-bottom:10rem;
}

.best-seller-card h3 {
    width:100%;
}
.titles-for-shop-by-brand h3 {
    font-size:1.75rem;
    width:20ch;
}
.product-third {
    right:-5%;
}





@media (max-width:1016px) {
    .product-card-grid {
        grid-template-columns: 1fr;
    }
}
@media (max-width:632px) {
    .best-seller-title {
        font-size:1.75rem;
    }
    .pencil {
        width:12rem;
        top:35%;
    }
}
@media (max-width:524px) {
    .best-seller-card {
        width:25rem;
    }
    .best-seller-card img {
        width:9rem;
    }
    .product-fourth {
        width:6rem !important;
    }
    .best-seller-card h3 {
        font-size:1.25rem;
        z-index:3;
    }
    .best-seller-card button {
        width:6rem;
        font-size:0.8rem;
        padding-inline:0;
    }
}
@media (max-width: 448px) {
    .best-seller-card-title {
        height:max-content;
        margin-top:5rem;
    }
    .pencil {
        width:8rem;
        top:-40% !important;
        left:-30%;
    }
}
@media (max-width:428px) {
    .best-seller-card {
        width:18rem;
        height:15rem;
    }
    .best-seller-card h3 {
        font-size:0.9rem;
    }
    .best-seller-card p {
        font-size:0.7rem;
    }
    .best-seller-card button {
        width:5rem;
        font-size:0.8rem;
    }
    .product-names {
        width:50%;
    }
}
@media (max-width:362px) {
    .best-seller-title {
        width:50%;
    }
    .pencil {
        left:0;
    }
}
@media (max-width:328px) {
    .best-seller-card {
        width:15rem;
        flex-direction: column;
        justify-content: flex-end;
        height:25rem;
        
    }
    .product-names {
        text-align:center !important;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .product-fourth {
        left:30% !important;
    }
    .best-seller-card img {
        top:10%;
        left:20%;
    }
}



.product-data-grid {
    display:grid;
    padding-block:5rem;
    padding-inline:2rem;
    gap:10rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5rem;
    max-width:100rem;
    justify-content: center;
    align-items:center;
    align-self:center;
    
    
}
.shop-by-brand {
    display:flex;
    flex-direction:column;
    align-items:center;
}
#bestsell {
    font-size:3rem;
}

.gridItem h3
 {
    width:90%;
}
.titles-for-shop-by-brand {
    padding-inline:2rem;
    padding-top:3rem;
    text-align:center;
}
.gridItem p {
    width:90%;
    line-height:2;
    font-size:1rem;
}
.gridItem button {
    padding:0.3rem 1rem;
    background-color:white;
    border-radius:1rem;
    font-size:1rem;
    font-weight:bold;
    transition:0.5s;
    border:1px solid black;
    
}
.gridItem button:hover {
    background-color:black;
    color:white;
    transition:0.5s;
    cursor:pointer;
    border:1px solid black;
}
.gridContainer img {
    width:170px !important;
}
.containerOne {
    display:flex;
    font-size:0.5rem;
    width:100%;
    height:40%;
    display:flex;
    flex-direction:column;
    word-wrap:wrap;
    align-items: center;
    justify-content:flex-start;
    align-self:center;
    text-align:center;
    z-index:1;
 
}
.gridItem img {
    align-self:center;
    /* padding:2rem; */
    position:absolute;
    top:5%;
    left:50%;
    transform:translate(-50%)
}

.gridContainer:nth-child(4) img {
    width:100px !important;
    top:-5% !important;
    
}
.gridContainer:nth-child(8) img {
    width:150px !important;
    
    
}
.gridContainer:nth-child(4n) img {
    width:100px !important;
    top:5%;
}
.gridContainer:nth-child(17n) img {
    width:125px !important;
    top:5%;
}
.gridContainer:nth-child(12n) img {
    
    top:20%;
}


.gridItem {
    display:flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    border-radius:1rem;
    border-radius:0;
    width:100%;
    gap:0rem;
    height:21rem;
    gap:1rem;
}

.gridItem h3 {
    font-size:1rem;
}
.gridContainer {
    display:flex;
    flex-direction: column;
    justify-content:flex-end;;
    align-items: flex-start;
    max-height:100rem;
    padding:0;
    margin-bottom:0;
    height:21rem;
    position:relative;
    align-self:center;
    width:20vw;
}
.containerButton {
    align-self:center;
}
.containerOne {
    height:max-content;
    display:flex;
    justify-content: flex-end;
    align-self:center;
}




/*****************/
.display {
    font-weight:bold;
    font-size:0.85rem;
}

.gridTitle {
    font-weight:300;
}



@media (max-width:920px) {
    .product-data-grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:672px) {
    .titles-for-shop-by-brand h3 {
        font-size:1.75rem !important;
    }
    .titles-for-shop-by-brand p {
        font-size:0.8rem !important;
    }
}
@media (max-width:552px) {
    .product-data-grid {
        grid-template-columns: 1fr;
        
    }
    .containerOne h3{
        font-size:0.85rem !important;
    }
    .containerOne p{
        font-size:0.75rem !important;
    }
    .containerButton button {
        width:6rem;
        font-size:0.8rem;
    }
    .containerOne {
        display:flex;
        align-items: center;
        justify-content: center;
        width:max-content;
    }
}
@media (max-width:342px) {
    .titles-for-shop-by-brand h3 {
        font-size:1.25rem !important;
    }
}



.dropDown {
    transform:translateY(-100%);
    opacity:0;
    transition:0.5s;
    display:none;
    background-color:white ;
}
.dropDownAdd {
    transform:translateY(0);
    opacity:1;
    transition: 0.5s;
   
}
.contactNew {
    
    padding-block:0.25rem;
    width:6rem;
    font-weight:bold;
    align-self:flex-end;
    background-color:black;
    color:white;
    border:none;
    cursor:pointer;
}



.dropDownUlAdd {
    color:white !important ;
}
.dropDownButtonAdd {
    background-color:white;
    color:black;
}


@media (max-width:884px) {
    .nav-links {
        display:none;
    }
    
    nav {
        padding-inline:2.5rem;
    }
    .burger {
        display:block;
    }
    .dropDown {
        display:block;
    }
    .dropDown a {
        color:black;
        text-decoration:none;
    }
}

@media (max-width:884px) {
    .opening-times-container p {
        display:none;
    }
    .display {
        display:block !important;
    }
   
}
@media (max-width:333px) {
    .logo-section img {
        width:8rem;
    }
    nav {
        justify-content:center;
        align-items:center;
        padding-top:0.5rem;
        padding-bottom:0.5rem;
    }
    .burger {
        padding-inline:1.5rem;  
          
    }
}


.dropDown {
    position:absolute;
    background-color:white !important;
    color:black;
    padding:2rem;
    right:5%;
    width:12rem;
    text-align:right;

}
.dropDown ul {
    list-style:none;
    display:flex;
    flex-direction: column;
    gap:3rem;
    

}
.burger {
    cursor:pointer;
}
nav {
    position:relative;
}

.dropDownScroll {
    background-color:rgba(0, 0, 0, 0.8) !important ;
    color:white;
}

.hero-section-products button a {
    color:white;
    text-decoration:none;
}
.contactNew a {
    color:white;
}
.justadd {
    color:black !important;
}
/**********************/
footer {
    background-color:rgba(0, 0, 0, 0.9);
    color:white;
    display:flex;
    padding-block:4rem;
    gap:10rem;
    align-items: flex-end;
    justify-content: center;
    overflow:hidden;
    position:relative;
    padding-bottom:5rem
}
.leftSide p {
    font-size:1.15rem;
    font-weight:100;
    
}
.leftSide p:nth-child(1) {
    font-size:2rem;
    font-weight:700;
}

.rightSide img {
    width:30px;
}
.rightSide {
    display:flex;
    gap:3rem;
    font-weight:2;
    justify-content: center;
    align-items: flex-start;
    align-self:flex-end;
    margin-bottom:2rem;

}
.tainer {
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align:left;
    gap:2rem;
    

    
}
footer > p {
    position:absolute;
    bottom:5%;
    left:50%;
    transform: translateX(-50%);
    font-weight:100;
}
@media (max-width:630px) {
    footer {
        display:grid;
        grid-template-columns: 1fr;
        place-items:center;
        
    }
    .leftSide p {
        font-size:1.25rem;
        text-align:center;
    }
    .leftSide p:nth-child(1){
        font-size:1.5rem;
    }
    .rightSide {
        display:flex;
        flex-direction: row;
        gap:1rem;
        
    }
    .tainer {
        align-items:center;
        gap:0.5rem;
    }

}
@media (max-width:575px) {
    .tainer {
        font-size:0.85rem;
    }
    .tainer img {
        width:40px;
    }
}
@media (max-width:505px) {
    .rightSide {
        display:grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
    .email {
        grid-column: span 2;
        
    }
    .copy {
        font-size:0.75rem;
        text-align:center;
    }
    
    
}
@media (max-width:349px) {
    .leftSide p {
        font-size:1rem !important;
    }
    .facebook~ p,
    .github~ p,
    .twitter~ p {
        font-size:0.85rem !important;
    }
    .facebook,
    .github,
    .twitter {
        width:30px !important;
    }
}
@media (max-width:301px) {
    .leftSide p {
        font-size:0.8rem !important;
        font-weight:300;
    }
}

